@import "common.css";

body {
    height: 100vh;
}
main {
    height: calc(100vh - 106px);
    background: #334;
    border: 2px solid #778;
    border-width: 0 2px;
}
footer {
    border: 2px solid #778;
    border-width: 0 2px;
}

iframe {
    width: 100%;
    border: 0;
    height: calc(100vh - 106px);
}