@import "common.css";

body {
    height: 100vh;
    overflow: hidden;
}
main {
    height: calc(100vh - 106px);
    background: #334;
    border: 2px solid #778;
    border-width: 0 2px;
}
footer {
    border: 2px solid #778;
    border-width: 0 2px;
}

iframe {
    width: 100%;
    border: 0;
    height: calc(100vh - 106px);
}
@media(max-width:1000px) {
    main {
        border: 0;
    }
    footer {
        border-width: 2px 0 0 0;
        height: 38px;
    }
}