@import "common.css";
body {
    min-height: 100vh;
} 
main {
    text-align: center;
}
main p {
    width: 70%;
    margin: 3em auto;
    font-size: 24px;
    padding: 40px;
    background: #334;
    border-radius: 30px;
    border: 2px solid #778;
}
main p em {
    color: gold;
    font-size: 200%;
    font-style: normal;
    display: block;
    margin-top: 10px;
    font-weight: bold;
    letter-spacing: -2px;
}
footer {
    border-top: 2px solid #667;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    max-width: 1000px;
    margin: auto;
}
form {
    padding: 30px 20px;
    background: #445;
    width: 200px;
    height: 50px;
    margin: auto;
    border-radius: 75px;
    border: 2px solid #778;
    margin-bottom: 72px;
}
@media(max-width:700px) {
}
@media(max-width:500px) {
}
@media(min-width:1000px) {
    footer {
        border: 2px solid #667;
        border-width: 2px 2px 0 2px;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
    }
    nav {
        border-bottom-right-radius: 15px;
        border-bottom-left-radius: 15px;
    }
}