@import 'common.css';
main img.logo {
    width: 95%;
    margin: 0 2.5%;
    filter: drop-shadow(0 0 20px black);
}
main h1 {
    text-align: center;
}
#PhotoOfTheWeek {
    padding: 2em 0 0 0;
    background: #223;
}
.swipe {
    width: 100%;
    overflow: hidden;
    margin: 20px auto 0 auto;
    transition: .2s max-height;
}
.swipe-wrap {
    transition: .2s max-height;
    overflow: hidden;
}
.swipe-wrap > figure {
    font-size: 0;
}
.swipe-wrap > figure > figcaption {
    font-size: 16px;
    position: absolute;
    bottom: 2px;
    left: 2px;
    right: -2px;
    text-align: center;
    margin: 0 7.5%;
    line-height: 1.5;
    background: rgba(0,0,0,0.75);
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    padding: 5px 10px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.swipe-wrap > figure:hover > figcaption {
    white-space: normal;
    overflow: visible;
}
.swipe-wrap > figure > img {
    width: 85%;
    margin: 0 7.5% 0 7.5%;
    border: 2px solid #778;
    object-fit: cover;
    max-height: 594px;
    border-radius: 10px;
}
.swipe button {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 7.5%;
    background: transparent;
    cursor: pointer;
    font-size: 0;
    border: 0;
}
.swipe button:focus {
    outline: none;
}
.swipe button.next {
    right: 5px;
}
.swipe button.prev {
    left: 5px;
}
#UpcomingEvents {
    padding: 2em 0;
    background: #223;
}
#UpcomingEvents article {
    display: flex;
    width: 80%;
    margin: 2em auto;
    padding: 2em;
    background: #334;
    border: 2px solid #445;
    border-radius: 20px;
}
#UpcomingEvents article img {
    width: 35%;
    flex-shrink: 0;
    margin-top: 5px;
    border-radius: 10px;
    border: 2px solid #778;
    align-self: flex-start;
}
#UpcomingEvents article > div {
    padding-left: 30px;
    min-width: 200px;
}
#UpcomingEvents article h2 {
    margin-top: 0;
}
#UpcomingEvents article p {
    text-align: left;
}
#UpcomingEvents article time {
    font: 16px/1.3 monospace;
}
@media(min-width:1000px) {
    nav {
        border-bottom-right-radius: 15px;
        border-bottom-left-radius: 15px;
    }
    footer {
        border: 2px solid #667;
        border-width: 0 2px 0 2px;
    }
    #PhotoOfTheWeek {
        border: 2px solid #667;
        border-width: 2px 2px 0 2px;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
    }
    #UpcomingEvents {
        border: 2px solid #667;
        border-width: 0 2px 0 2px;
    }
}

@media(max-width:700px) {
    #UpcomingEvents article {
        display: block;
        margin: 3em auto;
    }
    #UpcomingEvents article > div {
        padding: 0;
    }
    #UpcomingEvents article img {
        max-width: 500px;
        width: 100%;
        margin: 0 auto 1em auto;
    }
}
@media (max-width: 500px) {
    .swipe button {
        display: none;
    }    
}